<div>
  <h4>About the Author</h4>
  <section  class="visible-desktop">
  <img class="gravatar" src="http://www.gravatar.com/avatar/4ce180eb1538932a4cc5b14c9eb0e83b?s=300">
  <span>Paul is the founder and chair for the <a href="http://exploreddd.com">Explore DDD conference</a>. He co-founded and helps lead <a href="http://bit.ly/ddd_den">DDD Denver</a>. Look for him speaking at local user groups, and at regional and international conferences.<br><br>
  If you are looking for an expert hands-on team coach and design mentor in Domain-Driven Design (DDD), BDD with Cucumber, or lean/agile process Paul is available for consulting and training through his company, <a href="http://www.virtualgenius.com">Virtual Genius LLC.</a></span>
</section>
</div>