{% if page.comments %}
<script src="https://giscus.app/client.js"
        data-repo="paulrayner/blog-comments"
        data-repo-id="R_kgDOPu35PA"
        data-category="Announcements"
        data-category-id="DIC_kwDOPu35PM4CvYKs"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="light_tritanopia"
        data-lang="en"
        crossorigin="anonymous"
        async>
</script>
{% endif %}